.progress{
    width: var(--progress, 100%);
    height:'35px';
    background-color:'blue';
    border-radius: 5px;
    
}

.eval{
    overflow-y: auto;
}

.set{
    width:var(--progress, 100%);
    color:'green'
}